.header {
	margin-bottom: 30px;
}

.info {
	display: flex;
	align-items: center;
	column-gap: 20px;
	margin-top: 10px;
	font-size: 14px;
}

.repoName {
	color: #6495ed;
}

.repoStar {
	display: flex;
	align-items: center;
}

.starText {
	margin-left: 3px;
}
